{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}Home

{%block main-content %} 








<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">price</th>
      <th scope="col">total price</th>
    </tr>
  </thead>
  <tbody>
    {%for item in cart_items %} 
    <tr>
      
      <td scope="col">{{item.size.product.product_name}}-{{item.size.size}}</td>
       <td scope="col"><a href="{% url 'remove_from_cart' item.id %}"><button class="btn btn-danger">-</button></a> {{item.quantity}}<a href="{% url 'add_to_cart' item.id %}"><button class="btn btn-primary">  +  </button></a></td>
      <td scope="col">RS  {{item.price}}</td>
      
      <td scope="col">RS:  {{item.total_cost}}</td>



    </tr>
    {%endfor%}
  </tbody>
</table>
<div class="row justify-content-center">
<h3>Total: Rs   :{{total}}/- <span class="badge badge-primary" id="total"></span></h3>
</div>
<br>
<div class="row justify-content-center">
  <label for="category">Select your table:</label>
		<select id="category" name="table" required>
			<option value="" selected disabled >Select Table</option>
      {%for i in table %}
			<option value={{i.table_name}}>{{i.table_name}}</option>
			{%endfor%}  
		</select>
  <button id="checkout_button" type="button" class="btn btn-success" onclick="checkout()">Checkout</button>
</div>

{%endblock main-content%} 