{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}Home

{%block main-content %} 





<div class="container-fluid">
    <div class="row justify-content-center">
      <h2 id="cart_heading"></h2>
      <table class="table">
          <thead class="thead-light">
          <tr>
            
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">price</th>
            <th scope="col">total price</th>
          

          </tr>
          {%for item in cart_items %} 
          <tr>
            
            <td scope="col">{{item.size.product.product_name}}-{{item.size.size}}</td>
            <td scope="col"><a href="{% url 'remove_from_cart' item.id %}"><button class="btn btn-danger">-</button></a> {{item.quantity}}<a href="{% url 'add_to_cart' item.id %}"><button class="btn btn-primary">  +  </button></a></td>
            <td scope="col">RS  {{item.price}}</td>
            <td scope="col">RS:  {{item.total_cost}}</td>

            

          </tr>
          {%endfor%}
          </thead>
          <tbody id="cart_body">
          </tbody>
      </table>
  

      <h3>Total: Rs   :{{total}}/- <span class="badge badge-primary" id="total"></span></h3>
    </div>
  
    <div class="row justify-content-center">
      <button id="checkout_button" type="button" class="btn btn-success" onclick="checkout()">Checkout</button>
    </div>
  </div>
  
{%endblock main-content%}