{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}Menu

{%block main-content %} 
<br><br>    

        <div class="container-fluid" style="position: relative;top: 50%;transform: translateY(50%);">
            <div class="row justify-content-center">
              <h1 style="color: rgb(188, 173, 173);">Opening hours</h1>
              <br><br>
            </div>
            <div class="row justify-content-center">
              <p style="color: white;" >Sunday	1 pm - 12 midnight</p>
            </div>
            <div class="row justify-content-center">
      
              <p style="color: white;">Monday - Thursday	11 am - 1 am</p>
      
            </div>
            <div class="row justify-content-center">
              <p style="color: white;">Friday - Saturday	11 am - 2:30 am*</p>
            </div>

          </div>
          {%endblock main-content%}

